<ion-header>
  <ion-navbar hideBackButton>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Trails List :</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of hikes" (click)="itemTapped($event, item)">
    <img src={{item.path}}/>
    <ion-card-content class="card">
      <ion-card-title class="title_trail">{{item._name}}</ion-card-title>
      <div class="card-title adr_trail">{{item._adr}}</div>
      <p class="description_trail">{{item._description}}</p>
      <ion-row>
        <ion-col>
          <button ion-button icon-start clear small class="btn_trail">
            <ion-icon name="timer"></ion-icon>
            <div>{{item.duration}}</div>
          </button>
        </ion-col>
        <ion-col>
            <button ion-button icon-start clear small class="btn_trail">
              <ion-icon name="walk"></ion-icon>
              <div>{{item.length}}</div>
            </button>
        </ion-col>
        <ion-col>
          <button (click)="itemTappedFav($event, item)" ion-button icon-start clear small class="btn_trail">
            <ion-icon *ngIf="item.favorite" class="star" name="star"></ion-icon>
            <ion-icon *ngIf="!item.favorite" class="star" name="star-outline"></ion-icon>
            <div class="star">Favorite</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer *ngIf="_timerService.secondes">
  <ion-toolbar>
  <chronometre></chronometre>
  </ion-toolbar>
</ion-footer>
