<ion-header>
  <ion-navbar hideBackButton>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Hikes :</ion-title>
  </ion-navbar>
</ion-header>

<!--<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of hikes" (click)="itemTapped($event, item)">
      <ion-icon name="map" item-left></ion-icon>
      <ion-grid class="grid">
        <ion-row>
          <ion-col>
            <div class="item-note">{{item._name}}</div>
          </ion-col>
          <ion-col>
            <div class="item-note">{{item.formatedLength}}</div>
          </ion-col>
          <ion-col>
            <div class="item-note">{{item._duration}}</div>
          </ion-col>
          <ion-col>
            <ion-chip color="{{item._color}}">
              {{item._difficulty}}
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-icon item-right name="ios-arrow-forward" ></ion-icon>
    </button>
  </ion-list>
</ion-content>-->

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of hikes" (click)="itemTapped($event, item)">
      <ion-grid class="grid">
        <ion-row>
          <ion-col col-4>
            <img src="assets/imgs/1.jpg">
          </ion-col>
          <ion-col col-8>
            <ion-grid class="grid">
              <ion-row>
                <ion-col>
                  {{item._name}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  {{item._adr}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  {{item._description}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-grid class="grid">
                    <ion-row>
                      <ion-col>
                        {{item.duration}}
                      </ion-col>
                      <ion-col>
                        {{item.length}}
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </button>
  </ion-list>
</ion-content>
