<ion-menu [content]="content">

  <ion-header>
    <ion-toolbar>
      <ion-title>Pages</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="content">
    <ion-list class="list-menu-sta">
      <button ion-item *ngFor="let p of staticPages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
    <ion-list class="list-menu-dyn" *ngIf="currentHiking.currentHike">
      <button class="button" ion-item *ngFor="let p of dynamicPages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
