<ion-header>
  <ion-navbar hideBackButton>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Trail in progress:</ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="_hike">
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" mapTypeId="terrain">
    <agm-marker [latitude]="lat" [longitude]="lng">
      <agm-info-window [latitude]="lat" [longitude]="lng">Current Position</agm-info-window>
    </agm-marker>
     <agm-marker [iconUrl]="_hike.listStep[0].flag" [latitude]="_hike.listStep[0].lat" [longitude]="_hike.listStep[0].lng">
      <agm-info-window [latitude]="_hike.listStep[0].lat" [longitude]="_hike.listStep[0].lng">{{_hike.listStep[0].name}} : {{_hike.listStep[0].desc}} </agm-info-window>
    </agm-marker>
    <agm-marker [iconUrl]="_hike.listStep[lastStep].flag" [latitude]="_hike.listStep[lastStep].lat" [longitude]="_hike.listStep[lastStep].lng">
     <agm-info-window [latitude]="_hike.listStep[lastStep].lat" [longitude]="_hike.listStep[lastStep].lng">{{_hike.listStep[lastStep].name}} : {{_hike.listStep[lastStep].desc}} </agm-info-window>
   </agm-marker>
    <agm-polyline [strokeColor]="'#2196F3'">
      <ng-container *ngFor="let item of _hike.listStep;let i = index;">
        <agm-polyline-point [latitude]="item.lat" [longitude]="item.lng">
        </agm-polyline-point>
      </ng-container>
    </agm-polyline>
  </agm-map>

  <div class="title_detail">
    <span>{{_hike._name}}</span><br/>
    <ion-icon class="star" *ngFor="let count of _hike.mark" name="star" item-end small></ion-icon>
  </div>
  <ion-grid class="grid">
    <ion-row>
      <ion-col col-2>
        <ion-icon name="map"></ion-icon>
      </ion-col>
      <ion-col col-10>
        <div class="item-note">{{_hike.length}}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2>
        <ion-icon name="timer"></ion-icon>
      </ion-col>
      <ion-col col-10>
        <div class="item-note">{{_hike.duration}}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2>
        <ion-icon ios="ios-trending-up" md="md-trending-up"></ion-icon>
      </ion-col>
      <ion-col col-10>
        <div class="item-note">{{_hike.incline}}</div>
      </ion-col>
    </ion-row>

    <div class="start">
      <button ion-button icon-right (click)="_timerService.itemTappedBtn($event, item)" small class="btn" *ngIf="_timerService.play">
        {{_timerService.btnPlay}}
      </button>
      <button ion-button icon-right small class="btn" *ngIf="_timerService.stop" (click)="_timerService.itemTappedStop($event, item)">Stop</button>
    </div>
  </ion-grid>

  <div class="title_step">
    <span>Steps</span>
  </div>

  <div class="step_detail">
    <ion-grid class="step-grid" *ngFor="let item of _hike.stepCheckpoint">
      <ion-row>
        <ion-col col-10>{{item.name}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-10>{{item.desc}}</ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="start">
    <button ion-button icon-right small class="finish" (click)="_timerService.itemTappedReset($event, item)">Finish</button>
  </div>

</ion-content>
<ion-footer *ngIf="_timerService.secondes">
  <ion-toolbar>
  <chronometre></chronometre>
  </ion-toolbar>
</ion-footer>
