<ion-header>
  <ion-navbar hideBackButton>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Hike in progress:</ion-title>
  </ion-navbar>
</ion-header>
//TODO CARD
<ion-content *ngIf="_hike">
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="assets/imgs/1.jpg">
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-col>
            <div class="item-note">{{_hike._name}}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="item-note">{{_hike.formatedLength}}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="item-note">{{_hike.incline}}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="item-note">{{_hike.difficulty}}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="item-note">{{_hike.duration}}</div>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-col>
            <button ion-button icon-right (click)="itemDeactivate($event)">
              De-activate
              <ion-icon name="add-circle"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" mapTypeId="terrain">
    <agm-marker [latitude]="lat" [longitude]="lng">
      <agm-info-window [latitude]="lat" [longitude]="lng">Current Position</agm-info-window>
    </agm-marker>
     <agm-marker [iconUrl]="_hike.listStep[0].flag" [latitude]="_hike.listStep[0].lat" [longitude]="_hike.listStep[0].lng">
      <agm-info-window [latitude]="_hike.listStep[0].lat" [longitude]="_hike.listStep[0].lng">{{_hike.listStep[0].name}} : {{_hike.listStep[0].desc}} </agm-info-window>
    </agm-marker>
    <agm-marker [iconUrl]="_hike.listStep[lastStep].flag" [latitude]="_hike.listStep[lastStep].lat" [longitude]="_hike.listStep[lastStep].lng">
     <agm-info-window [latitude]="_hike.listStep[lastStep].lat" [longitude]="_hike.listStep[lastStep].lng">{{_hike.listStep[lastStep].name}} : {{_hike.listStep[lastStep].desc}} </agm-info-window>
   </agm-marker>
    <agm-polyline [strokeColor]="'#2196F3'">
      <ng-container *ngFor="let item of _hike.listStep;let i = index;">
        <agm-polyline-point [latitude]="item.lat" [longitude]="item.lng">
        </agm-polyline-point>
      </ng-container>
  </agm-polyline>

  </agm-map>
</ion-content>
