.title_detail{
  text-align: center;
  font-size: 2.4rem;
}

.title_step{
  margin-bottom: 0.8em;
  text-align: center;
  font-size: 2.4rem;
  span{
    margin-bottom: 0.8em;
  }
}

.start{
  width: 50%;
  text-align: center;
  margin: auto;
  margin-bottom: 1em;
  .btn{
    width: 60%;
  }
}

.star{
  color: #ffb800;
}

.grid{
  width: 75%;
}

.step-grid{
  width: 100%;
  border: solid 1px black;
  border-bottom: none;
}

.description{
  text-align: justify;
  text-justify: inter-word;
  margin: 1em 0;
}
