<ion-header>
  <ion-navbar hideBackButton>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Trails Information:</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <img src={{_hike.path}}>
  <div class="title_detail">
    <span>{{_hike._name}}</span><br/>
    <ion-icon class="star" *ngFor="let count of _hike.mark" name="star" item-end small></ion-icon>
  </div>
  <ion-grid class="grid">
    <ion-row>
      <ion-col col-2>
        <ion-icon name="pin"></ion-icon>
      </ion-col>
      <ion-col col-10>
        <div class="item-note">{{_hike.adr}}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2>
        <ion-icon name="timer"></ion-icon>
      </ion-col>
      <ion-col col-10>
        <div class="item-note">{{_hike.duration}}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2>
        <ion-icon ios="ios-trending-up" md="md-trending-up"></ion-icon>
      </ion-col>
      <ion-col col-10>
        <div class="item-note">{{_hike.incline}}</div>
      </ion-col>
    </ion-row>

    <div class="description">
      {{_hike.description}}
    </div>
  </ion-grid>

  <div class="start">
    <button ion-button icon-right (click)="itemTapped($event, item)" small class="btn">
      Start
    </button>
  </div>

  <div class="title_step">
    <span>Steps</span>
  </div>

  <ion-grid class="step-grid" *ngFor="let item of _hike.stepCheckpoint">
    <ion-row>
      <ion-col col-10>{{item.name}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-10>{{item.desc}}</ion-col>
    </ion-row>
  </ion-grid>

  <div class="start">
    <button ion-button icon-right (click)="itemTapped($event, item)" small class="btn">
      Start
    </button>
  </div>
</ion-content>
